basePath: /rest/api/1
consumes:
- application/json
definitions:
  APIKey:
    properties:
      api_key_id:
        description: APIKeyID is a generated id of the key.
        type: string
        x-go-name: APIKeyID
      api_key_secret:
        description: APIKeySecret is a generated secret, aka, the key.
        type: string
        x-go-name: APIKeySecret
      id:
        description: ID of the key. This is auto-generated.
        format: int64
        type: integer
        x-go-name: ID
      name:
        description: Name of the key
        type: string
        x-go-name: Name
      ttl:
        description: TTL defines how long this key can live.
        example: time.Now().Add(10 * time.Minute)
        format: date-time
        type: string
        x-go-name: TTL
      user_id:
        description: UserID is the ID of the user to which this key belongs.
        format: int64
        type: integer
        x-go-name: UserID
    required:
    - id
    - name
    - user_id
    - api_key_id
    - api_key_secret
    - ttl
    title: APIKey is an api key pair generated by the user to access the api without
      the frontend.
    type: object
    x-go-package: github.com/krok-o/krok/pkg/models
host: krok-o.io
info:
  description: Documentation the Krok API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Krok.
  version: 0.0.1
paths: {}
produces:
- application/json
schemes:
- http
securityDefinitions:
  basic:
    in: header
    type: basic
swagger: "2.0"
